.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #f6fdd8;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .section-header {
  }
  .section-header h2 {
    color: darkgreen;
    margin: 0;
    font-size: xx-large;
    margin-top: 20px;
  }
  .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .col {
    margin: 0px 10px 0px 10px;
    display: flex;
    /* width: 33%; */
    align-items: center;
    justify-content: center;
  }
  .contact h3{
      color: rgb(255, 47, 47);
      margin-bottom: 0px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact p{
    text-align: center;
  }
  
  .location{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
  }


  .footer-top{
    height: 100%;
}
  .footer{
    /* height: 10vh; */
    width: 100vw;
    background-color: black;
    color: white;
}
  
  .footer_logo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
  .social-links{
    /* height: 72%; */
    display: flex;
    width: 16%;
    justify-content: space-evenly;
}
.social-links a{
    color: white;
    font-size: large;

}
  .logo_footer{
      height: 50%;
  }
  .logo_footer img{
      height: 100%;
  }